<footer  style="text-align: center; align-items: center; background-color: whitesmoke;" class="mt-3">
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand">&copy; OpenLeaf Private Limited</div>
        <div class="f-info-brand">Data fetched by Google book API</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>