

  <nav class="navbar bg-dark border-bottom border-body sticky-top mb-3" data-bs-theme="dark" >
    <a class="navbar-brand" style="margin: 10px;" href="/">OpenLeaf</a>
    <form class="d-flex" action="/search" method="GET" role="search" style="margin: 10px;">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query">
      <button class="btn btn-outline-success " type="submit">Search</button>
    </form>
  </nav>
  