<div id="carouselExampleSlidesOnly" class="carousel slide" data-mdb-ride="carousel" data-mdb-carousel-init >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://res.cloudinary.com/dqoxgromg/image/upload/v1721460263/22917_azlgi6.jpg" class="d-block w-100" alt="Wild Landscape"/>
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dqoxgromg/image/upload/v1721460396/22920_qqv4ld.jpg" class="d-block w-100" alt="Camera"/>
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dqoxgromg/image/upload/v1721460476/5786371_mbgdi1.jpg" class="d-block w-100" alt="Exotic Fruits"/>
      </div>
    </div>
  </div>

  <script>// Initialization for ES Users
    import { Carousel, initMDB } from "mdb-ui-kit";
    
    initMDB({ Carousel });
    </script>